.main {
  margin: 0;
  padding: 0;
}

section {
  margin-top: -15px;
}

.main__wrapper {
  .wrapper();
  background-color: #f7f8f8;
}

.payment {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.payment__title {
  padding-top: 45px;
  margin-bottom: 20px;
  color: #535864;
}

.payment__parametres {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.payment__item {
  display: flex;
  margin-bottom: 10px;

  span {
    width: 160px;
    color: #535864;
  }
}

@media (min-width: 1000px) {
  .main__wrapper {
    width: 620px;
    padding: 0 30px;
  }
}
