.page-footer {
  color: #7f8591;
}

.page-footer__wrapper {
  .wrapper();
  background-color: #373c43;
}

.page-footer__text {
  padding: 20px;
  padding-bottom: 0;

  &--last {
    padding-bottom: 20px;
  }
}
